
.wrap {
  width: 117%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

.search-container {
  display: flex;
  align-items: center;
  width: 90%;
}

.search-bar {
  flex-grow: 1; 
  margin-right: 20px; 
}

.branch-filter {
width: 100px;
}