.container {
  padding-top: 30px;
}
.BranchTitle {
  text-align: left;
}

.AddButton-SearchBar {
  display: flex;
  align-items: center;
}
.BranchessearchBar {
  width: 250px;
  margin-left: 900px;
  display: inline-block;
}

.addbutton {
  padding-left: 20px;
  padding-top: 30px;
}
