.examsetstitle {
    padding: 10px;
    margin-top: 10px;
    color: #4D4D4D;
    font-family: Tienne;
    font-size: 24px; 
    font-weight: 400;
  }
  
  .setsblocks {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 60px;
    align-items: center;
    width: 135%;
  }
  
  .sets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #D9D9D9;
    width: 30%;
    padding: 20px; 
    margin: 20px;
    text-align: center;
  }
  
  .timings {
    font-family: Tienne;
    font-weight: 400;
    font-size: 21px;
  }
  
  .subjects {
    font-family: Tienne;
    font-size: 10px; 
    text-align: center; 
    
  }
  
  .managebtn {
    padding-left: 20px; 
    height: 20px;
    width: 10px;
    
  }
  .SubLink{
    display:flex;
    justify-content:column;
    justify-content: space-between;
  }