
.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 100px; 
    background-color: whitesmoke;
    border-radius: 8px;
    justify-content: center;
    padding-left: 40%;
    padding-right: 40%;
    margin-left: 100%;
    margin-right: 70%;
  }
  
  .page-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-section {
    display: flex;
    font-size: medium;
  }
  
  .left-section,
  .right-section
   {
    flex: 1;
    padding: 10px;
  }
  
  
  .underline-ODCode {
    position: center;
    border-bottom: 1px solid #333;
    margin-left: 5%;
    margin-right: 10%;
  }
  .form {
    margin-bottom: 15px;
  }
  
  .underline-dropdown,
  .underline {
    position: relative;
    border-bottom: 1px solid #333;
  }
  
  select,
  input {
    border: none;
    outline: none;
    width: 100%;
  }
  
  .BranchODCode1 {
    text-align: left;
    margin-left: 30%;
  }
  
   .update-button {
    text-align: right;
    padding-top: 20px;
    display: right;
  }
  
  